<div class="container" ng-app="app">

    <uib-tabset>
        <uib-tab heading="Graph">
        </br>
        <div class="container">

            <button type="button" ng-click="run = !run" class="btn btn-primary">{{buttonValue}}</button>

            <nvd3 options="options" data="data"></nvd3>

        </br>
        <nvd3 options="options1" data="data1"></nvd3>
    </div>

</uib-tab>
<uib-tab heading="Table">
    <div class="container">

        <div class="form-inline">
            <label>Source:  </label>
            <label class="radio-inline" ng-repeat="selection in selections" for="{{selection}}">
                <input ng-model="selected.sel" ng-value="selection" type="radio" name="optradio">{{selection}}</label>
            </label>
        </div>
        {{selected.toLowerCase()}}

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Timestamp</th>
                    <th>Target board</th>
                    <th>Energy</th>
                    <th>Time</th>
                    <th>Power</th>
                    <th>Peak power</th>
                    <th>Peak current</th>
                    <th>Peak voltage</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="s in samples" ng-if="s.target_id == selected.sel.toLowerCase()">
                    <td>{{ s.id }}</td>
                    <td>{{ s.timestamp }}</td>
                    <td>{{ s.target_id }}</td>
                    <td>{{ s.energy | number:5 }}</td>
                    <td>{{ s.time | number:5 }}</td>
                    <td>{{ s.avg_power | number:5 }}</td>
                    <td>{{ s.peak_power | number:5 }}</td>
                    <td>{{ s.peak_current | number:5 }}</td>
                    <td>{{ s.peak_voltage | number:5 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</uib-tab>
</uib-tabset>
<div class="form-inline">
    <label>Rate:  </label>
    <!--label class="radio-inline" ng-repeat="rate in rates" for="{{rate}}">
    <input ng-model="selected_rate.sel" ng-value="rate" type="radio" name="optradio" ng-change="changeRate()">{{rate}}</label>
</label-->
<input type="text" ng-model="selected_rate.sel" class="form-control">{{per_sec}}&nbsp;
<button type="button" ng-click="changeRate()" class="btn btn-primary">Change rate</button>
</div>
</div>
